- name: Download longhornctl binary
  ansible.builtin.get_url:
    url: "https://github.com/longhorn/cli/releases/download/{{ longhorn_ctl_version }}/longhornctl-linux-amd64"
    dest: "{{ longhorn_ctl_path }}"
    mode: '0755'

- name: Run Longhorn preflight installer
  ansible.builtin.command: >
    {{ longhorn_ctl_path }} --kube-config {{ kubeconfig_path }} install preflight
  register: longhorn_preflight_install
  changed_when: "'Completed preflight installer' in longhorn_preflight_install.stdout"
  failed_when: longhorn_preflight_install.rc != 0

- name: Show Longhorn preflight install output
  ansible.builtin.debug:
    msg:
      - "rc: {{ longhorn_preflight_install.rc }}"
      - "stdout: {{ longhorn_preflight_install.stdout }}"
      - "stderr: {{ longhorn_preflight_install.stderr }}"

- name: Install Longhorn using Helm
  kubernetes.core.helm:
    name: longhorn
    chart_repo_url: https://charts.longhorn.io
    chart_ref: longhorn
    release_namespace: "{{ longhorn_namespace }}"
    create_namespace: true
    kubeconfig: "{{ kubeconfig_path }}"
    wait: true
    values: "{{ lookup('file', 'values.yml') | from_yaml }}"

- name: Create Longhorn default recurring backup job
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: longhorn.io/v1beta2
      kind: RecurringJob
      metadata:
        name: "{{ longhorn_default_recurring_backup_job_name }}"
        namespace: "{{ longhorn_namespace }}"
      spec:
        cron: "{{ longhorn_default_recurring_backup_job_cron }}"
        task: "{{ longhorn_default_recurring_backup_job_task }}"
        retain: "{{ longhorn_default_recurring_backup_job_retain }}"
        concurrency: "{{ longhorn_default_recurring_backup_job_concurrency }}"
        groups: "{{ longhorn_default_recurring_backup_job_groups }}"
