[{{ item.name }}]
enabled = {{ item.enabled }}
filter = {{ item.filter }}[mode={{ item.mode }}]
logpath = {{ item.logpath }}
port = {{ item.port }}
maxretry = {{ item.maxretry }}
findtime = {{ item.findtime }}
bantime = {{ item.bantime }}
{% if item.action is defined %}
action = {{ item.action }}
{% endif %}
