[{{ item.name }}]
enabled = {{ item.enabled }}
filter = {{ item.filter }}
logpath = {{ item.logpath }}
{% if item.port is defined %}
port = {{ item.port }}
{% endif %}
maxretry = {{ item.maxretry }}
findtime = {{ item.findtime }}
bantime = {{ item.bantime }}
{% if item.action is defined %}
action = {{ item.action }}
{% endif %}
