- name: Full system upgrade
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true

- name: Install APT packages
  ansible.builtin.apt:
    name: "{{ common_apt_packages + common_extra_apt_packages }}"
    state: present

- name: Disable ipv6
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_set: true
    reload: true
    state: present
  loop: "{{ sysctl_params | dict2items }}"
  vars:
    sysctl_params:
      net.ipv6.conf.all.disable_ipv6: 1
      net.ipv6.conf.default.disable_ipv6: 1
      net.ipv6.conf.lo.disable_ipv6: 1
      net.ipv6.conf.all.autoconf: 0
      net.ipv6.conf.default.autoconf: 0
