[Interface]
Address = {{ wireguard_server_ip }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_server_private_key }}

{% for client in wireguard_clients_public_keys %}
[Peer]
PublicKey = {{ client.public_key }}
AllowedIPs = {{ client.ip }}
{% endfor %}
