- name: Init the first master node
  hosts: k3s-m-1
  become: true
  vars:
    keepalived_state: MASTER
  roles:
    - k3s

- name: Install other nodes
  hosts: k3s,!k3s-m-1
  serial: 1
  become: true
  roles:
    - k3s

- name: Configure Kubernetes addons
  hosts: localhost
  vars:
    kubeconfig_path: /tmp/k3s.yml
  roles:
    - cilium
    - nfs_provisioner
    - csi_driver_iscsi
    - kube_vip
    - cert_manager
    - metallb
    - ingress_nginx
    - argocd
