PIHOLE_INTERFACE={{ pihole_interface }}
IPV4_ADDRESS={{ pihole_ipv4_address }}
IPV6_ADDRESS={{ pihole_ipv6_address }}
PIHOLE_DNS_1={{ pihole_dns_servers[0] }}
PIHOLE_DNS_2={{ pihole_dns_servers[1] if pihole_dns_servers|length > 1 else "" }}
QUERY_LOGGING=true
INSTALL_WEB_ADMIN={{ not pihole_disable_web }}
ADMIN_PASSWORD={{ pihole_admin_password }}
{% if pihole_blocklists %}
BLOCKINGLIST={{ pihole_blocklists | join(",") }}
{% endif %}
