apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentik-server
  namespace: authentik
spec:
  template:
    spec:
      containers:
        - name: server
          command: ["/bin/sh", "-c"]
          args:
            - |
              . /vault/secrets/db.env
              exec dumb-init -- ak server
