global:
  envFrom:
    - secretRef:
        name: authentik-secrets

authentik:
  postgresql:
    host: pg-cluster-rw.postgresql.svc.cluster.local
    name: authentik

server:
  ingress:
    enabled: true
    ingressClassName: external
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-dns"
    hosts:
      - authentik.loukawai.fr
    tls:
      - secretName: authentik-tls
        hosts:
          - authentik.loukawai.fr

postgresql:
  enabled: false

redis:
  enabled: false
