fail2ban_filters:
  - name: ufw-block
    fail_regex: |
      ^.*\[UFW BLOCK\].*SRC=(?P<HOST>\d{1,3}(?:\.\d{1,3}){3})\b.*$
      ^.*\[UFW BLOCK\].*SRC=(?P<HOST>[0-9a-fA-F:]+)\b.*$

fail2ban_jails:
  - name: sshd
    enabled: true
    filter: sshd
    mode: aggressive
    logpath: /var/log/auth.log
    port: ssh
    maxretry: 3
    findtime: 600
    bantime: 600
  - name: portscan
    enabled: true
    filter: ufw-block
    logpath: /var/log/syslog
    maxretry: 3
    findtime: 600
    bantime: 600
    action: ufw[name=PortScan]
