fail2ban_filters:
  - name: portscan
    fail_regex: nmap scan initiated .* <HOST>

fail2ban_jails:
  - name: sshd
    enabled: true
    filter: sshd
    mode: aggressive
    logpath: /var/log/auth.log
    port: ssh
    maxretry: 3
    findtime: 600
    bantime: 600
  - name: portscan
    enabled: true
    filter: portscan
    logpath: /var/log/syslog
    maxretry: 3
    findtime: 600
    bantime:  600
    action: ufw[name=PortScan]

